{
 "AWSTemplateFormatVersion" : "2010-09-09",
 
 "Description" : "My first template from scatch",
 
 "Metadata" : {
  "Instances" : {"Description" : "Information about the instances"},
  "Databases" : {"Description" : Information about the databases"}
 },
 
 "Parameters" : {
 },
 
 "Mappings" : {
 },
 
 "Conditions" : {
 },
 
 "Resources" : {
 },
 
 "Outputs" : {
 }
}
